.harshil{
    padding: 100px 40px 40px

}
header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.pal {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-info h2, .contact-form h2 {
    font-size: 28px;
    color: #3498db;
    margin-bottom: 20px;
}

.info, .contact-form form {
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
}